<ion-navbar *navbar>
  <ion-title>Satoshi ▾</ion-title>
  <ion-buttons start>
    <button (click)="search()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <div *ngIf="showSearch == true">
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-list>
    <ion-list-header>
      Notifications ({{notificationCount}})
    </ion-list-header>
    <ion-item *ngFor="#notificationItem of notifications | async" class="clickable">
      <ion-avatar item-left>
        <ion-icon name="albums"></ion-icon>
      </ion-avatar>
      <h2>{{notificationItem.description}}</h2>
      <p>{{getPluginInstanceName(notificationItem.id)}}</p>
      <div item-right class="text-right">
        <p>{{notificationItem.data}}</p>
        <small>{{notificationItem.timestamp | amTimeAgo}}</small>
      </div>
    </ion-item>
    <ion-list-header>
      Activity
    </ion-list-header>
    <ion-item *ngFor="#activityItem of activity | async" [ngClass]="{'clickable': activityItem.deeplink}">
      <ion-avatar item-left>
        <ion-icon name="albums"></ion-icon>
      </ion-avatar>
      <h2>{{activityItem.description}}</h2>
      <p>{{getPluginInstanceName(activityItem.id)}}</p>
      <div item-right class="text-right">
        <p>{{activityItem.data}}</p>
        <small>{{activityItem.timestamp | amTimeAgo}}</small>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
